body {
  overflow: hidden;
  margin: 0;
}

#info {
  position: absolute;
  bottom: 1vh;
  color: rgb(0, 0, 0);
  width: 100%;
  font-family: Monospace;
  text-align: center;
}

#markerLabel {
  --baseColor: rgb(0, 0, 0);
  width: 230px;
  height: 48px;
  color: var(--baseColor);
  font-family: Monospace;
  font-size: 14px;
  /*font-weight: 700;*/
  padding: 2px;
  background: rgba(23, 238, 231, 0.902);
  border: 2px solid var(--baseColor);
  border-radius: 5px;
  margin-top: -25px;
  margin-left: 120px;
  overflow: hidden;
  padding: 0px;
}
.hidden {
  display: none;
}

.text {
  margin-left: 4px;
}

#closeButton {
  position: absolute;
  right: 0px;
  top: 0px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;
  background: transparent;
  color: black;
}
